*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    box-sizing: border-box;
}
.raktim{
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 1.5rem;
  color:#f53b57;
  letter-spacing: 2px;
}
.shadow {
  color: rgba(167, 221, 60, 1);
  text-shadow: 2px 0px 0px rgba(128, 0, 64, 1), 
               3px 2px 0px rgba(77, 0, 38, 0.5), 
			   3px 0px 3px rgba(255, 0, 43, 1), 
			   5px 0px 3px rgba(128, 0, 21, 1), 
			   6px 2px 3px rgba(77, 0, 13, 0.5), 
			   6px 0px 9px rgba(255, 85, 0, 1), 
			   8px 0px 9px rgba(128, 42, 0, 1), 
			   9px 2px 9px rgba(77, 25, 0, 0.5), 
			   /* 9px 0px 18px rgba(255, 213, 0, 1),  */
			   11px 0px 18px rgba(128, 106, 0, 1), 
			   12px 2px 18px rgba(77, 66, 0, 0.5), 
			   /* 12px 0px 30px rgba(212, 255, 0, 1),  */
			   14px 0px 30px rgba(106, 128, 0, 1), 
			   15px 2px 30px rgba(64, 77, 0, 0.5), 
			   /* 15px 0px 45px rgba(128, 255, 0, 1),  */
			   17px 0px 45px rgba(64, 128, 0, 1), 
			   17px 2px 45px rgba(38, 77, 0, 0.5);
}
.hero{
  width: 100%;
  height: 100vh;
  background: linear-gradient(54deg, #42047e, #015d3a);
  color: #58B19F;
  position: relative;
}
.container{
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.clock{
  width: 100%;
  height: 100%;
  background: rgba(235, 1, 255, 0.11);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(50px);
}
.container::before{
  content: '';
  width: 180px;
  height: 180px;
  background: #ff016b;
  border-radius: 5px;
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
}
.container::after{
  content: '';
  width: 180px;
  height: 180px;
  background: #0077ff;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  bottom: -50px;
  z-index: -1;
}
.clock span{
  font-size: 6rem;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.clock span::after{
  
  font-size: 16px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
}
#hrs::after{
  content: 'HOURS';
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .5px;
}
#min::after{
  content: 'MIN';
  font-size: .875rem;
  font-weight: 400
  letter-spacing: 1px;
  /* color: #2C3A47; */
  
}
#sec::after{
  content: 'SEC';
  font-size: .875rem;
  font-weight: 400
  letter-spacing: .5px;
}
